Estructuras/xml-resources/web-service-references/ServicioProyecto/wsdl/localhost_8080/ServicioWeb/ServicioProyecto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Implementacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Implementacion/" name="ServicioProyecto">
<types>
<xsd:schema>
<xsd:import namespace="http://Implementacion/" schemaLocation="http://localhost:8080/ServicioWeb/ServicioProyecto?xsd=1" />
</xsd:schema>
</types>
<message name="ReporteUsuario">
<part name="parameters" element="tns:ReporteUsuario" />
</message>
<message name="ReporteUsuarioResponse">
<part name="parameters" element="tns:ReporteUsuarioResponse" />
</message>
<message name="BusquedaUsuario">
<part name="parameters" element="tns:BusquedaUsuario" />
</message>
<message name="BusquedaUsuarioResponse">
<part name="parameters" element="tns:BusquedaUsuarioResponse" />
</message>
<message name="AgregarTiempo">
<part name="parameters" element="tns:AgregarTiempo" />
</message>
<message name="AgregarTiempoResponse">
<part name="parameters" element="tns:AgregarTiempoResponse" />
</message>
<message name="SubirPesos">
<part name="parameters" element="tns:SubirPesos" />
</message>
<message name="SubirPesosResponse">
<part name="parameters" element="tns:SubirPesosResponse" />
</message>
<message name="FuncionPrueba">
<part name="parameters" element="tns:FuncionPrueba" />
</message>
<message name="FuncionPruebaResponse">
<part name="parameters" element="tns:FuncionPruebaResponse" />
</message>
<message name="ReporteGrafo">
<part name="parameters" element="tns:ReporteGrafo" />
</message>
<message name="ReporteGrafoResponse">
<part name="parameters" element="tns:ReporteGrafoResponse" />
</message>
<message name="GraficarEstado">
<part name="parameters" element="tns:GraficarEstado" />
</message>
<message name="GraficarEstadoResponse">
<part name="parameters" element="tns:GraficarEstadoResponse" />
</message>
<message name="RutasMinimas">
<part name="parameters" element="tns:RutasMinimas" />
</message>
<message name="RutasMinimasResponse">
<part name="parameters" element="tns:RutasMinimasResponse" />
</message>
<message name="GrafoRutaMinima">
<part name="parameters" element="tns:GrafoRutaMinima" />
</message>
<message name="GrafoRutaMinimaResponse">
<part name="parameters" element="tns:GrafoRutaMinimaResponse" />
</message>
<message name="CrearHistorial">
<part name="parameters" element="tns:CrearHistorial" />
</message>
<message name="CrearHistorialResponse">
<part name="parameters" element="tns:CrearHistorialResponse" />
</message>
<message name="SubirVertices">
<part name="parameters" element="tns:SubirVertices" />
</message>
<message name="SubirVerticesResponse">
<part name="parameters" element="tns:SubirVerticesResponse" />
</message>
<message name="ObtenerHistorial">
<part name="parameters" element="tns:ObtenerHistorial" />
</message>
<message name="ObtenerHistorialResponse">
<part name="parameters" element="tns:ObtenerHistorialResponse" />
</message>
<message name="EliminarArbol">
<part name="parameters" element="tns:EliminarArbol" />
</message>
<message name="EliminarArbolResponse">
<part name="parameters" element="tns:EliminarArbolResponse" />
</message>
<message name="GraficarHistoria">
<part name="parameters" element="tns:GraficarHistoria" />
</message>
<message name="GraficarHistoriaResponse">
<part name="parameters" element="tns:GraficarHistoriaResponse" />
</message>
<message name="RegistroUsuario">
<part name="parameters" element="tns:RegistroUsuario" />
</message>
<message name="RegistroUsuarioResponse">
<part name="parameters" element="tns:RegistroUsuarioResponse" />
</message>
<message name="EliminacionUsuario">
<part name="parameters" element="tns:EliminacionUsuario" />
</message>
<message name="EliminacionUsuarioResponse">
<part name="parameters" element="tns:EliminacionUsuarioResponse" />
</message>
<message name="ModificacionUsuario">
<part name="parameters" element="tns:ModificacionUsuario" />
</message>
<message name="ModificacionUsuarioResponse">
<part name="parameters" element="tns:ModificacionUsuarioResponse" />
</message>
<portType name="ServicioProyecto">
<operation name="ReporteUsuario">
<input wsam:Action="http://Implementacion/ServicioProyecto/ReporteUsuarioRequest" message="tns:ReporteUsuario" />
<output wsam:Action="http://Implementacion/ServicioProyecto/ReporteUsuarioResponse" message="tns:ReporteUsuarioResponse" />
</operation>
<operation name="BusquedaUsuario">
<input wsam:Action="http://Implementacion/ServicioProyecto/BusquedaUsuarioRequest" message="tns:BusquedaUsuario" />
<output wsam:Action="http://Implementacion/ServicioProyecto/BusquedaUsuarioResponse" message="tns:BusquedaUsuarioResponse" />
</operation>
<operation name="AgregarTiempo">
<input wsam:Action="http://Implementacion/ServicioProyecto/AgregarTiempoRequest" message="tns:AgregarTiempo" />
<output wsam:Action="http://Implementacion/ServicioProyecto/AgregarTiempoResponse" message="tns:AgregarTiempoResponse" />
</operation>
<operation name="SubirPesos">
<input wsam:Action="http://Implementacion/ServicioProyecto/SubirPesosRequest" message="tns:SubirPesos" />
<output wsam:Action="http://Implementacion/ServicioProyecto/SubirPesosResponse" message="tns:SubirPesosResponse" />
</operation>
<operation name="FuncionPrueba">
<input wsam:Action="http://Implementacion/ServicioProyecto/FuncionPruebaRequest" message="tns:FuncionPrueba" />
<output wsam:Action="http://Implementacion/ServicioProyecto/FuncionPruebaResponse" message="tns:FuncionPruebaResponse" />
</operation>
<operation name="ReporteGrafo">
<input wsam:Action="http://Implementacion/ServicioProyecto/ReporteGrafoRequest" message="tns:ReporteGrafo" />
<output wsam:Action="http://Implementacion/ServicioProyecto/ReporteGrafoResponse" message="tns:ReporteGrafoResponse" />
</operation>
<operation name="GraficarEstado">
<input wsam:Action="http://Implementacion/ServicioProyecto/GraficarEstadoRequest" message="tns:GraficarEstado" />
<output wsam:Action="http://Implementacion/ServicioProyecto/GraficarEstadoResponse" message="tns:GraficarEstadoResponse" />
</operation>
<operation name="RutasMinimas">
<input wsam:Action="http://Implementacion/ServicioProyecto/RutasMinimasRequest" message="tns:RutasMinimas" />
<output wsam:Action="http://Implementacion/ServicioProyecto/RutasMinimasResponse" message="tns:RutasMinimasResponse" />
</operation>
<operation name="GrafoRutaMinima">
<input wsam:Action="http://Implementacion/ServicioProyecto/GrafoRutaMinimaRequest" message="tns:GrafoRutaMinima" />
<output wsam:Action="http://Implementacion/ServicioProyecto/GrafoRutaMinimaResponse" message="tns:GrafoRutaMinimaResponse" />
</operation>
<operation name="CrearHistorial">
<input wsam:Action="http://Implementacion/ServicioProyecto/CrearHistorialRequest" message="tns:CrearHistorial" />
<output wsam:Action="http://Implementacion/ServicioProyecto/CrearHistorialResponse" message="tns:CrearHistorialResponse" />
</operation>
<operation name="SubirVertices">
<input wsam:Action="http://Implementacion/ServicioProyecto/SubirVerticesRequest" message="tns:SubirVertices" />
<output wsam:Action="http://Implementacion/ServicioProyecto/SubirVerticesResponse" message="tns:SubirVerticesResponse" />
</operation>
<operation name="ObtenerHistorial">
<input wsam:Action="http://Implementacion/ServicioProyecto/ObtenerHistorialRequest" message="tns:ObtenerHistorial" />
<output wsam:Action="http://Implementacion/ServicioProyecto/ObtenerHistorialResponse" message="tns:ObtenerHistorialResponse" />
</operation>
<operation name="EliminarArbol">
<input wsam:Action="http://Implementacion/ServicioProyecto/EliminarArbolRequest" message="tns:EliminarArbol" />
<output wsam:Action="http://Implementacion/ServicioProyecto/EliminarArbolResponse" message="tns:EliminarArbolResponse" />
</operation>
<operation name="GraficarHistoria">
<input wsam:Action="http://Implementacion/ServicioProyecto/GraficarHistoriaRequest" message="tns:GraficarHistoria" />
<output wsam:Action="http://Implementacion/ServicioProyecto/GraficarHistoriaResponse" message="tns:GraficarHistoriaResponse" />
</operation>
<operation name="RegistroUsuario">
<input wsam:Action="http://Implementacion/ServicioProyecto/RegistroUsuarioRequest" message="tns:RegistroUsuario" />
<output wsam:Action="http://Implementacion/ServicioProyecto/RegistroUsuarioResponse" message="tns:RegistroUsuarioResponse" />
</operation>
<operation name="EliminacionUsuario">
<input wsam:Action="http://Implementacion/ServicioProyecto/EliminacionUsuarioRequest" message="tns:EliminacionUsuario" />
<output wsam:Action="http://Implementacion/ServicioProyecto/EliminacionUsuarioResponse" message="tns:EliminacionUsuarioResponse" />
</operation>
<operation name="ModificacionUsuario">
<input wsam:Action="http://Implementacion/ServicioProyecto/ModificacionUsuarioRequest" message="tns:ModificacionUsuario" />
<output wsam:Action="http://Implementacion/ServicioProyecto/ModificacionUsuarioResponse" message="tns:ModificacionUsuarioResponse" />
</operation>
</portType>
<binding name="ServicioProyectoPortBinding" type="tns:ServicioProyecto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ReporteUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BusquedaUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AgregarTiempo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SubirPesos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="FuncionPrueba">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReporteGrafo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GraficarEstado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RutasMinimas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GrafoRutaMinima">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearHistorial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SubirVertices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerHistorial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EliminarArbol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GraficarHistoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RegistroUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EliminacionUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ModificacionUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioProyecto">
<port name="ServicioProyectoPort" binding="tns:ServicioProyectoPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb/ServicioProyecto" />
</port>
</service>
</definitions>